div[data-tippy-root] .tippy-box {
	background: #f6f6f6;
	border: 1px solid #dcdcdc;
	box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.06),
		0 10px 40px 0 rgba(0, 0, 0, 0.03);
	font-family: 'Montserrat', sans-serif;
	/* padding: 4px 16px; */
}
